<nav class='panel'>

  <div class='box'>
    <div class='container'>
      <h1 class='title'>Title</h1>
      <h3 class='subtitle'>Subtitle</h3>
    </div>
  </div>

  <table mat-table [dataSource]='dataSource' matSort (matSortChange)='announceSortChange($event)'
    class='mat-elevation-z8'>

    <!-- Position Column -->
    <ng-container matColumnDef='id'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription='Sort by number'>
        <a class='panel-block'>
          <mat-icon fontIcon='format_list_numbered' aria-hidden='false' aria-label='Material Icon'></mat-icon>
        </a>
      </th>

      <td mat-cell *matCellDef='let element'>
        <label class='panel-block column' for=''>{{element.id}}</label>
      </td>
    </ng-container>

    <!-- Approximation Column -->
    <ng-container matColumnDef='title'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription='Sort'>
        <a class='panel-block'>
          <mat-icon fontIcon='calculate' aria-hidden='false' aria-label='Material Icon'></mat-icon>
          Approximation
        </a>
      </th>

      <td mat-cell *matCellDef='let element'>
        <div class='column'>
          <a class='panel-block' (click)='deleteApproximation(element.id)'>
            <mat-icon fontIcon='delete' aria-hidden='false' aria-label='Material Icon'></mat-icon>
            <label>{{element.title}}</label>
          </a>
        </div>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
    <tr mat-row *matRowDef='let row; columns: displayedColumns;'></tr>
  </table>
</nav>