<mat-drawer-container class='is-fluid' autosize>
	<mat-drawer #drawer class='container' mode='side'>

		<app-panel></app-panel>

	</mat-drawer>

	<div class='container is-fluid'>
		<div class='notification'>
			<div class='buttons'>
				<button mat-fab extended (click)='drawer.toggle()' class='button notification is-link is-light'>
					<mat-icon fontIcon='menu_open' aria-hidden='false' aria-label='Material Icon'></mat-icon>
					Operaciones
				</button>

				<button mat-fab (click)='postApproximation()' class='button notification is-link is-light'>
					<mat-icon fontIcon='add' aria-hidden='false' aria-label='Material Icon'></mat-icon>
				</button>
			</div>
		</div>

		<div *ngFor='let ap of approxs'>
			<div class='block'>
				<app-foldy [wallApprox]='ap'></app-foldy>
			</div>
			<br>
		</div>

	</div>

	<footer class='footer'>
		<div class='content has-text-centered'>
			<p>
				<i>Semillero de Investigación en Ecuaciones Diferenciales Ordinarias en Python </i><strong>(SIEDOPy)</strong> by
				<a href='https://jgthms.com'>Luis E. López</a>. El código fuente está licenciado por el <a
					href='http://opensource.org/licenses/mit-license.php'>MIT</a>. Desarrollo de Daniel R, David R, Jackeline R,
				Over V.
			</p>
		</div>
	</footer>
</mat-drawer-container>