<mat-accordion *ngIf='wallApprox'>

  <mat-expansion-panel hideToggle>

    <mat-expansion-panel-header>

      <mat-panel-title *ngIf='wallApprox.id > 9'>
        Aproximación {{wallApprox.id}}
      </mat-panel-title>
      <mat-panel-title *ngIf='wallApprox.id < 10'>
        Aproximación 0{{wallApprox.id}}
      </mat-panel-title>

      <mat-panel-description>
        Acá es posible la creación de nuevas operaciones con Ecuaciones Diferenciales Ordinarias
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class='columns'>
      <div class='column'>
        <app-approx-form [ApproxData]='wallApprox'></app-approx-form>
      </div>

      <div class='column'>
        <div class='container is-widescreen block'>
          <mat-card>
            <mat-card-content>Constantes</mat-card-content>

            <footer class='card-footer'>
              <mat-form-field class='column'>
                <mat-label>Clave</mat-label>
                <input matInput type='text' placeholder='a, b, ...'>
              </mat-form-field>
              <mat-form-field class='column'>
                <mat-label>Valor</mat-label>
                <input matInput type='text' placeholder='0.0'>
              </mat-form-field>

              <a class='card-footer-item'>
                <mat-icon fontIcon='save' aria-hidden='false' aria-label='Material Icon'></mat-icon>
              </a>
              <a class='card-footer-item'>
                <mat-icon fontIcon='delete' aria-hidden='false' aria-label='Material Icon'></mat-icon>
              </a>
            </footer>

            <!--! METER ACÁ EL NGFOR a este FOOTER -->

            <footer class='card-footer'>
              <mat-form-field class='column'>
                <mat-label>Clave</mat-label>
                <input matInput type='text' placeholder='a, b, ...'>
              </mat-form-field>
              <mat-form-field class='column'>
                <mat-label>Valor</mat-label>
                <input matInput type='text' placeholder='0.0'>
              </mat-form-field>

              <a class='card-footer-item'>
                <mat-icon fontIcon='save' aria-hidden='false' aria-label='Material Icon'></mat-icon>
              </a>
              <a class='card-footer-item'>
                <mat-icon fontIcon='delete' aria-hidden='false' aria-label='Material Icon'></mat-icon>
              </a>
            </footer>

            <button (click)='solveApproximation(wallApprox.id)' mat-fab extended color='primary'>
              <mat-icon>functions</mat-icon>
              Resolver Aproximación
            </button>


          </mat-card>
        </div>
        <br>
        <div *ngIf="isLoading" class="columns is-centered">
          <mat-progress-spinner class="center" [color]="'accent'" [mode]="'indeterminate'">
          </mat-progress-spinner>
        </div>
      </div>
    </div>

  </mat-expansion-panel>

  <!-- <br> -->

  <!-- <div class='columns'> -->
  <!-- <div class='column'> -->
  <mat-expansion-panel (opened)='panelOpenState = true' (closed)='panelOpenState = false'>
    <mat-expansion-panel-header (click)='getGraphs(wallApprox.id)'>
      <mat-panel-title>
        Aproximaciones
      </mat-panel-title>
      <mat-panel-description>
        Cliquea aquí para {{panelOpenState ? 'cerrar resultados 🔒' : 'visualizar resultados 👈'}}
      </mat-panel-description>
      <!-- <mat-panel-description class='is-right'>
        <mat-icon class='is-right'>map</mat-icon>
      </mat-panel-description> -->
    </mat-expansion-panel-header>

    <div class='columns'>
      <div *ngFor='let gp of graphs' class='column'>
        <!-- <mat-expansion-panel>
          <mat-expansion-panel-header>
          </mat-expansion-panel-header>
        </mat-expansion-panel> -->

        <!-- Cliquea aquí para {{panelOpenState ? 'cerrar resultados' : 'visualizar resultados'}} -->
        <h3>Método de {{gp.title}}</h3>
        <div class='image is-4by3 columns'>
          <img src='{{routeImages}}/{{gp.image_url}}' alt='{{gp.image_url}}'>
        </div>

        <!-- <h3></h3> -->

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <h3></h3>
            Error de {{gp.title}}
          </mat-expansion-panel-header>
          <div class='image is-4by3 columns'>
            <img src='{{routeImages}}/{{gp.error_url}}' alt='{{gp.error_url}}'>
          </div>
        </mat-expansion-panel>

      </div>
    </div>



  </mat-expansion-panel>

</mat-accordion>